.chat-main
  .group-info
    .group-summary
      .group-summary__name
        = @group.name
      .group-summary__member
        Member:
        - @users.each do |user|
          = "#{user.name}さん"
    .edit-box
      .edit-box__button
        = link_to edit_group_path(@group.id) do
          Edit
  .message-list
    = render @messages
  .message-form
    .message-space
      = form_for [@group, @message] do |f|
        .input-box  
          = f.text_field :content, class: "input-box__text", placeholder: 'type a message' 
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: "input-box__image__icon")
            = f.file_field :image, class:"input-box__image__select"
        = f.submit 'Send', class: "send-button"