.side-bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(current_user), class: "top-items__icons__edit" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user),  class: "top-items__icons__setting" do
          %i.fa.fa-cog
  .group-list
    - current_user.groups.each do |group|
      .groupBox
        = link_to group_messages_path(group), class: "groupBox__link" do
          .groupBox__link__groupName
            = group.name
          .groupBox__link__newMessage
            = group.show_last_message